*{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

html, body {
    height: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 


}

.header {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    flex-shrink: 0;
    font-family: 'Times New Roman', Times, serif;
    padding: 16px 32px;
    font-size: 24px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

ul li a {
    text-decoration: none;
}

a:visited {
    color: rgb(196, 196, 196);
}

a:hover {
    color: rgb(143, 143, 211);
}

main{
    display: flex;
    flex: 1;
}
.content {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
    flex: 1; 
    gap: 15px;
    border: 15px;
}

.content h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 20px;
}

.content p {
    font-size: 25px;
    padding: 20px 10px 20px 10px;
    margin: 50px 200px;
    text-align: center;
}

.footer {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #1f2937;
    color: rgb(255, 255, 255);
    padding: 10px;
    flex-shrink: 0; 
}

form label, form input, form button {
    margin: 10px 0;
}